main {
	font-family: sans-serif;
	width: 800px;
	margin-left: auto;
	margin-right: auto;	
}

h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #009EDB;
}

h2, h4 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
}

.sub-title {
	text-align: left;
	color: #009EDB;
}
