body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header, footer {
	background-color: #009EDB;
	width: 800px;
}

footer {
	position: fixed;
	bottom: 0;
	margin: 0;
}

footer p {
	text-align: center;
	color: #FFFFFF;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
}

.header {
	color: #FFFFFF;
}
