html,
body {
   margin: 0;
   height: 100%;
   font-family: Raleway;
   background-color: #F2F2F2;
}

nav {
   position: fixed;
   padding: 10px 0;
   width: 100%;
   background-color: #494949;
   text-align: center;
   font-size: 1.5em;
   font-family: Lato;
   font-weight: bold;
   border-bottom: 1px solid black;
   box-shadow: 10px 10px 5px #888888;
}

nav a {
   margin: 0em 1em;
   color: white;
   text-decoration: none;
}
                     
nav a:visited {
   color: white;
}

nav a:hover {
   color: #0099CC;   
}  

main {
   margin: 0px auto;
   padding: 60px 25px 25px 25px;
   width: 700px;  
   min-height: 86%;
   background-color: white;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

h1, h2 {
   text-align: center;
}

h1, h4 {
   color: #0099CC;
}

#date {
   text-align: center;
   color: black;
}

footer {
   margin: 0px;
   padding: 5px 0px;
   bottom: 0;
   width: 100%;
   min-height: 14%;
   text-align: center;
   background-color: #0099CC;
   font-family: Lato;
   border-top: 1px solid black;
}

footer a {
   font-size: 1.25em;
   margin: 0 1em;
   color: black;
   text-decoration: none;
}
                     
footer a:visited {
   color: black;
}

footer a:hover {
   color: white;
}

.space {
   height: 10px;
}

.space2 {
   height: 10px;
   background-color: #333333;
}