html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: Raleway;
   background-color: #F2F2F2;
}

#container {
   min-height:100%;
   position:relative;
}

nav {
   position: fixed;
   /*padding:10px;*/

   width: 100%;
   /*background-color: #333333;*/
   text-align: center;
   font-size: 1.5em;
   font-family: Lato;
   font-weight: bold;
   box-shadow: 10px 10px 5px #888888;
   /*border: 3px solid black;*/

   padding: 3px 0px;
   background-color: black;
}

nav a {
   margin-left : 1em;
   margin-right: 1em;
   color: white;
   text-decoration: none;
}
                     
nav a:visited {
   color: white;
}

nav a:hover {
   color: #0099CC;
}

main {
   padding: 50px 25px;
   /*padding-top: 50px;*/
   /*padding-bottom: 50px;*/
   /*padding-bottom: 60px;*/

   width: 900px;
   min-height: 100%;    
   /*height: 100%;*/
   margin-left: auto;
   margin-right: auto;
   /*margin-top: 4em;*/
   background-color: white;
   border: 3px solid black;
}

h1, h2 {
   text-align: center;
}

h1 {
   color: #0099CC;
}

#date {
   text-align: center;
   color: black;
}

h4 {
   color: #0099CC;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;

   /*bottom: 0;*/
   /*margin: 0;*/
   /*width: 100%;*/
   text-align: center;
   /*background-color: #0066FF;*/
   /*background-color: #1975FF;*/
   background-color: #333333;
   font-family: Lato;   
}

/*footer {
   padding: 5px 0px;
   color: #0099CC;
   border: 3px solid black;
}
*/
footer {
   /*padding: 3px;*/
   padding: 3px 0px;
   background-color: black;
   color: #0099CC;
}

.content {
   padding: 5px;
   /*background-color: #333333;*/
   background-color: #494949;
}

footer a {
   font-size: 1.25em;
   margin-left : 1em;
   margin-right: 1em;
   color: #0099CC;
   text-decoration: none;
}
                     
footer a:visited {
   color: #0099CC;
}

footer a:hover {
   color: white;
}

.space {
   height: 10px;
}

.space2 {
   height: 10px;
   background-color: #333333;
}

