html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: Raleway;
   background-color: #F2F2F2;
}

#container {
   min-height:100%;
   position:relative;
}

nav {
   position: fixed;
   padding: 1px 0px;
   width: 100%;
   /*background-color: #333333;*/
   background-color: black;
   text-align: center;
   font-size: 1.5em;
   font-family: Lato;
   font-weight: bold;
   box-shadow: 10px 10px 5px #888888;
}

nav div {
   padding: 5px;
   /*background-color: #333333;*/
   background-color: #494949;
}

nav a {
   margin: 0em 1em;
   color: white;
   text-decoration: none;
}
                     
nav a:visited {
   color: white;
}

nav a:hover {
   color: #0099CC;   
}

main {
   padding: 50px 25px;
   width: 700px;
   min-height: 100%;
   margin: 0px auto;
   background-color: white;
   border: 1px solid black;
}

h1, h2 {
   text-align: center;
}

h1, h4 {
   color: #0099CC;
}

#date {
   text-align: center;
   color: black;
}

footer {
   position: absolute;
   padding: 1px 0px;
   bottom: 0;
   width: 100%;
   text-align: center;
   /*background-color: #0066FF;*/
   /*background-color: #1975FF;*/
   /*background-color: #333333;*/
   background-color: black;
   font-family: Lato;   
}

footer div {
   padding: 2px;
   /*background-color: #494949;*/
   /*background-color: #7F7F7F;*/
   background-color: #0099CC;
}

footer a {
   font-size: 1.25em;
   margin-left : 1em;
   margin-right: 1em;
   /*color: #0099CC;*/
   color: black;
   text-decoration: none;
}
                     
footer a:visited {
   color: black;
}

footer a:hover {
   /*color: #0099CC;*/
   color: white;
}

.space {
   height: 10px;
}

.space2 {
   height: 10px;
   background-color: #333333;
}
